body{
    background-color: #efefef;
}

.main{
    background-color: white;
    margin: 30px;
}
.btn-publish{
    float: right;
    margin-bottom: 15px;
}

.media-object{
    width: 40px;
    height: 40px;
}

.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999999;
}
.profile .section{
    margin-top: 15px;
}
.community-menu{
    color: #999999;
    font-size: 13px;
}
.jumbotron{
    margin: 50px;
}
.comment{
    margin: 10px 0px;
}
.btn-comment{
    float: right;
    margin-bottom: 10px;
    margin-top: 10px;
}
.sub-comments{
    border-radius: 5px;
    margin-top: 15px;
    border: 1px solid #e0e0e0;
    padding-top: 15px;
    margin-bottom: 15px;
}
.comment-sp{
    margin-top: 0px;
}
.comments{
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #e0e0e0;
}
.menu{
    color: #999999;
    margin-top: 5px;
}
.menu .icon{
    margin-left: 6px;
    font-size: 15px;
    cursor: pointer;
}
.menu .active{
    color: #0F9EF1;
}
.menu .icon:hover{
    color: #0f9ef1;
}
.question-title{
    margin-top: 25px;
}

.topic-tag a{
    display: inline-block;
    height: 20px;
    line-height: 16px;
    padding: 2px 5px;
    background-color: #99cfff;
    font-size: 12px;
    color: #fff;
    border-radius: 4px;
    margin-top: 10px;
}
.topic-tag .text {
    color: #fff;
    font-size: 12px;
    margin-top: 0px;
    margin-right: 1px;
}
.topic-tag .icon-tag{
    color: #fff;
    margin: 1px 1px;
    size: 10px;
}
.tag-sp{
    margin-top: 4px;
    margin-bottom: 4px;
}
.topic-tag a:hover{text-decoration:none;
    display: inline-block;
    height: 22px;
    line-height: 16px;
    padding: 2px 5px;
    background-color: #428bca;
    font-size: 13px;
    color: #fff;
    border-radius: 4px;
}
a:hover{text-decoration:none;}
a:active{text-decoration:none;}

.related{
    margin-bottom: 10px;
    padding-left: 0px;
}
.sponsor{
    margin-top: 20px;
}
.publish-select-tag{
    display: none;
    margin-top: 10px;
}
.label-default{
    margin-left: 2px;
}
.footer{
    padding: 10px 25%;
    color: #666666;
}