<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lsu丽院社区</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="/js/jquery-3.4.1.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css">
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <link rel="icon" type="image/x-icon" href="/images/logo.jpg" />

</head>
<body>
<div th:insert="~{navigation :: nav}"></div>
<div class="container-fluid">
    <div class="jumbotron">
        <h1>出错了！！！</h1>
        <p th:text="${message}">服务太热了，要不然稍等再试试！</p>
        <p><a class="btn btn-primary btn-lg" href="/" role="button">返回主页</a></p>
    </div>
</div>
<div th:insert="~{footer :: foot}"></div>
</body>
</html>