<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="js/jquery.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/communnity.css">
    <script src="js/bootstrap.min.js" type="application/javascript"></script>
    <link rel="icon" type="image/x-icon" href="/images/logo.jpg" />
</head>
<body>
<div th:fragment="foot">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 footer">Copyright© 2020· Lsu社区· 服务器赞助: UCloud· 网站程序: SpringBoot· 浙LSU计17103330121号</div>
</div>

</body>