<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>[[${session.systemSet.title}]]-发现</title>
    <script src="/js/jquery-3.4.1.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css">
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <link rel="icon" type="image/x-icon" href="/images/logo.jpg" th:href="${session.systemSet.systemLogo}"/>
    <script>
        window.onload = function () {
            var closable=window.localStorage.getItem("closable");
            if(closable=="true"){
                window.close();
                window.localStorage.removeItem("closable");
            }
        }
    </script>
</head>
<body th:style="'background-image: url('+${session.systemSet.background}+')'">
<div th:insert="~{navigation :: nav}"></div>
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 right-border">
            <!--<h2 th:if="${tag==null||tag==''}" ><span class="glyphicon glyphicon-list" aria-hidden="true"></span> &nbsp;发现</h2>-->
            <h2 th:if="${session.tag==null||session.tag==''}"><span class="glyphicon glyphicon-list" aria-hidden="true"></span> &nbsp;发现</h2>

            <h2 th:if="${session.tag!=null&&session.tag!=''}" >
                <div class="media-left" >
                    <a>
                        <img class="index-media-object img-rounded" th:src="${session.tag.imageUrl}" >
                    </a>
                </div>
                <div class="media-body">
                    <h2 th:href="@{/(tagId=${session.tag.id})}" class="index-title-tag" th:text="${session.tag.name}"></h2>
                    <!--关注话题-->
                    <a th:if="${session.user != null && !session.tag.myLike}" th:text="'关注|'+${session.tag.likeCount}"  class="btn-question-like" th:href="@{/changeLikeTag/(tagId=${tag.id})}">
                        关注|0
                    </a>
                    <a th:if="${session.user != null && session.tag.myLike}" th:text="'取消关注|'+${session.tag.likeCount}" class="btn-question-unlike" th:href="@{/changeLikeTag/(tagId=${tag.id})}">
                        取消关注|0
                    </a>
                </div>
            </h2>

            <div class="media" th:each="question:${paginationDTO.getData()}">
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12 tag-sp">
                <div class="media-left" >
                    <a href="#">
                        <img class="media-object img-rounded" th:src="${question.user.getAvatarUrl()}">
                    </a>
                </div>
                <div class="media-body">
                    <a th:href="@{'/question/'+${question.id}}"><h4 class="media-heading">[(${question.title})]</h4></a>
                    <span th:if="${question.description!=null}">[(${question.description})]</span><br th:if="${question.description!=null}"/>
                    <span class="text-desc">
                        <!--<a class="index-tag" th:each="tag,tagStat:${question.getTag()}" th:href="@{/(tag=${tag.id})}" th:text="${tag.name}" th:if="${tagStat.index==0}"></a>-->
                        <a class="index-tag" th:each="tag,tagStat:${question.tags}" th:href="@{/(tagId=${tag.id})}" th:text="${tag.name}" th:if="${tagStat.index==0}"></a>
                        • <span th:text="${question.user.name}">0</span>发布了问题
                        • <span th:text="${question.commentCount}">0</span> 个回复
                        • <span th:text="${question.likeCount}">0</span> 人关注
                        • <span th:text="${question.viewCount}">0</span> 次浏览
                        • 发起于<span th:text="${#dates.format(question.createDate,'yyyy-MM-dd hh:mm')}">0</span></span>
                        <!--•<span th:text="${question.createDate}">0</span></span>-->
                </div>
            </div>
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li th:if="${paginationDTO.getShowFirstPage()}">
                        <a th:href="@{/(page=${1},search=${search},tagId=${tagId})}" >
                            <span aria-hidden="true">&lt;&lt;</span>
                        </a>
                    </li >
                    <li th:if="${paginationDTO.getShowPrevious()}">
                        <a th:href="@{/(page=${paginationDTO.getPage()-1},search=${search},tagId=${tagId})}" >
                            &lt;
                        </a>
                    </li >

                    <li th:each="page:${paginationDTO.getPages()}" th:class="${paginationDTO.page==page}?'active':''">
                        <a th:href="@{/(page=${page},search=${search},tagId=${tagId})}" >
                            <span th:text="${page}"></span>
                        </a>
                    </li>
                    <li th:if="${paginationDTO.getShowNextPage()}">
                        <a th:href="@{/(page=${paginationDTO.page+1},search=${search},tagId=${tagId})}">
                            &gt;
                        </a>
                    </li>
                    <li th:if="${paginationDTO.getShowEndPage()}">
                        <a th:href="@{/(page=${paginationDTO.getTotalPage()},search=${search},tagId=${tagId})}" >
                            <span aria-hidden="true">&gt;&gt;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12" >
            <h3>活动推荐</h3>
            <a  href="https://developer.aliyun.com/topic/elasticsearch?ref=escn" target="_blank">
                <img class="col-lg-12 col-md-12 col-sm-12 col-xs-12 related" src="/images/Elas.jpg" alt="..." >
            </a>
            <hr class="col-lg-10 col-md-12 col-sm-12 col-xs-12 ">
            <h3>热门话题</h3>
            <div class="media" th:each="topic,topicStart:${hotTopics}" th:if="${topicStart.index<5}">
                <div class="media-left" >
                    <a th:href="@{/(tagId=${topic.id})}">
                        <img class="media-object img-rounded" th:src="${topic.imageUrl}">
                    </a>
                </div>
                <div class="media-body">
                    <a th:href="@{/(tagId=${topic.id})}" class="index-topic-tag">
                        <span class="text" th:text="${topic.name}">data</span>
                    </a>
                    <br/>
                    <span class="text-desc">
                        <span th:text="${topic.questionCount}">0</span> 个问题
                                • <span th:text="${topic.likeCount}">0</span> 人关注
                    </span>
                </div>
            </div>
            <hr/>
            <div>
                <h5 th:text="${session.systemSet.publicTitle}"></h5>
                <img class="col-lg-4 col-md-4 col-sm-4 col-xs-4 " th:src="${session.systemSet.publicWechat}"/>
                <img class="col-lg-4 col-md-4 col-sm-4 col-xs-4 " th:src="${session.systemSet.publicMicroblog}"/>
                <img class="col-lg-4 col-md-4 col-sm-4 col-xs-4 " th:src="${session.systemSet.publicQq}"/>
            </div>
            <hr style="margin-top: 10px;"/>
        </div>
    </div>
</div>
<!--<div th:insert="~{footer :: foot}"></div>-->
</body>
</html>