<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lsu丽院社区</title>
    <script src="/js/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css">
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <script>
        window.onload = function () {
            var closable=window.localStorage.getItem("closable");
            if(closable=="true"){
                window.close();
                window.localStorage.removeItem("closable");
            }
        }
    </script>
</head>
<body>
<div th:insert="~{navigation :: nav}"></div>
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 right-border">
            <h2 th:if="${tag==null||tag==''}" h><span class="glyphicon glyphicon-list" aria-hidden="true"></span> &nbsp;发现</h2>
            <h2 th:if="${tag!=null&&tag!=''}" h><span class="glyphicon glyphicon-leaf" aria-hidden="true"></span> &nbsp;<span th:text="${tag}">发现</span></h2>

            <div class="media" th:each="question:${paginationDTO.getData()}">
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12 tag-sp">
                <div class="media-left" >
                    <a href="#">
                        <img class="media-object img-rounded" th:src="${question.user.getAvatarUrl()}">
                    </a>
                </div>
                <div class="media-body">
                    <a th:href="@{'/question/'+${question.id}}"><h4 class="media-heading" th:text="${question.title}"></h4></a>

                    <span class="text-desc">

                        <span class="label label-default" th:each="tag:${question.getTag().split(',')}" th:text="${tag}">0</span>
                        • <span th:text="${question.user.name}">0</span>发起了问题
                        •<span th:text="${question.getLikeCount()}">0</span>人关注
                        • <span th:text="${question.getCommentCount()}">0</span> 个回复
                        • <span th:text="${question.getViewCount()}">0</span> 次浏览
                        •<span th:text="${#dates.format(question.gmtCreate,'yyyy-MM-dd hh:mm')}">0</span></span>
                </div>
            </div>
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li th:if="${paginationDTO.getShowFirstPage()}">
                        <a th:href="@{/(page=${1},search=${search},tag=${tag})}" >
                            <span aria-hidden="true">&lt;&lt;</span>
                        </a>
                    </li >
                    <li th:if="${paginationDTO.getShowPrevious()}">
                        <a th:href="@{/(page=${paginationDTO.getPage()-1},search=${search},tag=${tag})}" >
                            &lt;
                        </a>
                    </li >

                    <li th:each="page:${paginationDTO.getPages()}" th:class="${paginationDTO.page==page}?'active':''">
                        <a th:href="@{/(page=${page},search=${search},tag=${tag})}" >
                            <span th:text="${page}"></span>
                        </a>
                    </li>
                    <li th:if="${paginationDTO.getShowNextPage()}">
                        <a th:href="@{/(page=${paginationDTO.page+1},search=${search},tag=${tag})}">
                            &gt;
                        </a>
                    </li>
                    <li th:if="${paginationDTO.getShowEndPage()}">
                        <a th:href="@{/(page=${paginationDTO.getTotalPage()},search=${search},tag=${tag})}" >
                            <span aria-hidden="true">&gt;&gt;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12" >
            <h3>热门话题</h3>

        </div>
    </div>
</div>
<div th:insert="~{footer :: foot}"></div>
</body>
</html>