<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="js/jquery-3.4.1.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/communnity.css">
    <script src="js/bootstrap.min.js" type="application/javascript"></script>
    <link rel="icon" type="image/x-icon" href="/images/logo.jpg" />
</head>
<body>
<div th:fragment="nav">
    <nav class="navbar navbar-default " >
        <div class="container-fluid navigation">
            <div class="navbar-header" >
                <a class="navbar-brand" href="/">LSU社区</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <form class="navbar-form navbar-left" action="/" method="get">
                    <input type="hidden" name="tagId" id="tagId" th:value="${tagId}">
                    <div class="form-group">
                        <input type="text" th:value="${search !=null ? search: ''}" name="search" class="form-control" placeholder="搜索问题">
                    </div>
                    <button type="submit" class="btn btn-default">搜索</button>
                </form>
                <ul class="nav navbar-nav">
                    <li class="active" th:class="${session.navbarStatus == 'index'}?'active':''">
                        <a href="/">
                            <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                            &nbsp;发现
                        </a>
                    </li>
                    <li class="active" th:class="${session.navbarStatus == 'tags'}?'active':''">
                        <a href="/tags">
                            <span class="glyphicon glyphicon-tags" aria-hidden="true"></span>
                            &nbsp;话题
                        </a>
                    </li>
                    <li class="active" th:class="${session.navbarStatus == 'users'}?'active':''">
                        <a href="/users">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                            &nbsp;用户
                        </a>
                    </li>
                    <li class="active" th:class="${session.navbarStatus == 'integral'}?'active':''">
                        <a href="/integral">
                            <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
                            &nbsp;积分
                        </a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li th:class="${session.navbarStatus == 'publish'}?'active':''"  th:if="${session.user !=null}">
                        <a href="/gotoPublish">
                            <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                            &nbsp;提问
                        </a>
                    </li>
                    <li th:class="${session.navbarStatus == 'replies'}?'active':''"  th:if="${session.user !=null}">
                        <a href="/profile/replies">
                            <span class="glyphicon glyphicon-bell" aria-hidden="true"></span>
                            &nbsp;通知
                            <span class="badge" style="margin-top: -2px;" th:if="${session.unreadCount>0}" th:text="${session.unreadCount}">3</span>
                        </a>
                    </li>
                    <li class="dropdown"  th:if="${session.user !=null}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">
                            <span th:text="${session.user.getName()}">我的</span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/userSetting/userMessage">用户设置</a></li>
                            <li><a href="/profile/questions">我的问题</a></li>
                            <li><a href="/logout">退出登录</a></li>
                        </ul>

                    </li>
                    <li th:if="${session.user !=null}">
                        <img class="index-avatar img-rounded" th:src="${session.user.getAvatarUrl()}">
                    </li>
                    <li th:if="${session.user == null}">
                        <!--<a th:href="@{https://github.com/login/oauth/authorize(client_id='b3f5fa1c25e7ecd68dd0',redirect_uri=${#httpServletRequest.getRequestURL()+'callback'},scope='user',state=1)}">登录</a>-->
                        <a th:href="@{/toLogin}">登录</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

</body>