<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${sectionName}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="/js/jquery-3.4.1.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css">
    <link rel="stylesheet" href="/js/community.js">
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <link rel="icon" type="image/x-icon" href="/images/logo.jpg" />

</head>
<body>
<div th:insert="~{navigation :: nav}"></div>
<div class="container-fluid main profile">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 right-border">
            <h2 th:text="${sectionName}"></h2>
            <hr>
            <div th:if="${section=='questions'}">
                <div class="media" th:each="question:${paginationDTO.data}">
                    <div class="media-body">
                        <a th:href="@{'/question/'+${question.id}}"><h5 class="media-heading" th:text="${question.title}"></h5></a>
                        <span class="text-desc">
                            • <span th:text="${question.getCommentCount()}">0</span> 个回复
                            • <span th:text="${question.getViewCount()}">0</span> 次浏览
                            • <span th:text="${question.getLikeCount()}">0</span> 人喜欢
                            •<span th:text="${#dates.format(question.lastModified,'yyyy-MM-dd hh:mm')}">0</span>
                            •<span>
                                <a th:href="@{'/publish/'+${question.id}}">
                                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                    编辑
                                </a>
                            </span>

                        </span>

                    </div>
                </div>
            </div>
            <div th:if="${section=='draft'}">
                <div class="media" th:each="question:${paginationDTO.data}">
                    <div class="media-body">
                        <a th:href="@{'/publish/'+${question.id}}"><h5 class="media-heading" th:text="${question.title}"></h5></a>
                        <span class="text-desc">
                            • 保存时间<span th:text="${#dates.format(question.lastModified,'yyyy-MM-dd hh:mm:ss')}">0</span>
                        </span>

                    </div>
                </div>
            </div>
            <div th:if="${section=='deleteLight'}">
                <div class="media" th:each="question:${paginationDTO.data}">
                    <div class="media-body">
                        <a th:href="@{'/publish/'+${question.id}}"><h5 class="media-heading" th:text="${question.title}"></h5></a>
                        <span class="text-desc">
                            • 删除时间<span th:text="${#dates.format(question.lastModified,'yyyy-MM-dd hh:mm:ss')}">0</span>
                        </span>

                    </div>
                </div>
            </div>
            <div th:if="${section=='replies'}">
                <div class="media" th:each="notification:${paginationDTO.data}">
                    <div class="media-body">
                        <h5>
                            <a href="#">
                                <span th:text="${notification.notifierName}">0</span>
                            </a>
                            <span th:text="${notification.type}">0</span>
                            <a th:href="@{'/notification/'+${notification.id}}">
                                <span th:text="${notification.outerTitle}">0</span>
                            </a>
                            <span class="label label-danger" th:if="${notification.status==0}">未读</span>
                        </h5>
                        <span class="text-desc">
                            <span th:text="${#dates.format(notification.createDate,'yyyy-MM-dd')}">0</span>
                        </span>

                    </div>
                </div>
            </div>
            <div>
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <li th:if="${paginationDTO.getShowFirstPage()}">
                            <a th:href="@{/profile/{section}(section=${section},page=${1})}" >
                                <span aria-hidden="true">&lt;&lt;</span>
                            </a>
                        </li >
                        <li th:if="${paginationDTO.getShowPrevious()}">
                            <a th:href="@{/profile/{section}(section=${section},page=${paginationDTO.getPage()-1})}" >
                                &lt;
                            </a>
                        </li >

                        <li th:each="page:${paginationDTO.getPages()}" th:class="${paginationDTO.page==page}?'active':''">
                            <a th:href="@{/profile/{section}(section=${section},page=${page})}" >
                                <span th:text="${page}"></span>
                            </a>
                        </li>
                        <li th:if="${paginationDTO.getShowNextPage()}">
                            <a th:href="@{/profile/{section}(section=${section},page=${paginationDTO.getPage()+1})}">
                                &gt;
                            </a>
                        </li>
                        <li th:if="${paginationDTO.getShowEndPage()}">
                            <a th:href="@{/profile/{section}(section=${section},page=${paginationDTO.getTotalPage()})}" >
                                <span aria-hidden="true">&gt;&gt;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12" >
            <div class="list-group section">
                <a href="/profile/questions" class="list-group-item " th:class="${section=='questions'}?'list-group-item active':'list-group-item'">
                    发布的提问
                </a>
                <a href="/profile/draft" class="list-group-item " th:class="${section=='draft'}?'list-group-item active':'list-group-item'">
                    草稿箱
                </a>
                <a href="/profile/deleteLight" class="list-group-item " th:class="${section=='deleteLight'}?'list-group-item active':'list-group-item'">
                    回收站
                </a>
                <a href="/profile/replies" class="list-group-item" th:class="${section=='replies'}?'list-group-item active':'list-group-item'">
                    最新回复<span class="badge" th:text="${session.unreadCount}" th:if="${session.unreadCount>0}">3</span>
                </a>
            </div>

        </div>
    </div>
</div>
<!--</div><div th:insert="~{footer :: foot}"></div>-->
</body>
</html>