<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>LSU社区</title>
    <script src="/js/jquery-3.4.1.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css">
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <link rel="icon" type="image/x-icon" href="/images/logo.jpg" />
    <script>
        window.onload = function () {
            var closable=window.localStorage.getItem("closable");
            if(closable=="true"){
                window.close();
                window.localStorage.removeItem("closable");
            }
        }
    </script>
</head>
<body>
<div th:insert="~{navigation :: nav}"></div>
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 right-border">
            <h2>
                <div class="media-left" >
                    <span class="glyphicon glyphicon-user" style="margin-top: 10px;margin-left: 10px;" aria-hidden="true"></span>
                </div>
                <div class="media-body">
                    <h2 class="index-title-tag">所有用户</h2>
                </div>
            </h2>
            <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12 tag-sp">
            <div class="row col-lg-6 col-md-12 col-sm-12 col-xs-12 tag-sp" th:each="user:${paginationDTO.getData()}">
                <div>
                    <div class="thumbnail">
                        <img th:src="${user.avatarUrl}" style="height: 50px;width: 50px;">
                        <div class="caption">
                            <h4 th:text="${user.name}" ></h4>
                            <p>个性签名：<span th:text="${user.bio}"></span></p>
                            <p>发布了<span th:text="${user.questionCount}"></span>个问题，<span th:text="${user.likeCount}"></span>人关注</p>
                            <!--关注用户-->
                            <div th:if="${session.user != null}">
                                <!--关注用户-->
                                <a class="btn-question-like" th:if="${session.user.id != question.user.id && !question.user.myLike}" th:href="@{/changeLikeUser/(questionId=${question.id},userId=${question.user.id})}">
                                    关注
                                </a>
                                <a class="btn-question-unlike" th:if="${session.user.id != question.user.id && question.user.myLike}" th:href="@{/changeLikeUser/(questionId=${question.id},userId=${question.user.id})}">
                                    取消关注
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!--<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 tag-sp" >-->
                <!--&lt;!&ndash;<div class="media" >&ndash;&gt;-->
                    <!--&lt;!&ndash;&lt;!&ndash;<div class="media-left">&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;<a th:href="@{/(tagId=${topic.id})}">&ndash;&gt;&ndash;&gt;-->
                            <!--&lt;!&ndash;&lt;!&ndash;<img class="media-object img-rounded" th:src="${topic.imageUrl}" >&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;</a>&ndash;&gt;&ndash;&gt;-->
                    <!--&lt;!&ndash;&lt;!&ndash;</div>&ndash;&gt;&ndash;&gt;-->
                    <!--&lt;!&ndash;&lt;!&ndash;<div class="media-body">&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;<a th:href="@{/(tagId=${topic.id})}" class="index-topic-tag">&ndash;&gt;&ndash;&gt;-->
                            <!--&lt;!&ndash;&lt;!&ndash;<span class="text" th:text="${topic.name}">data</span>&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;</a>&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;<br/>&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;<span class="text-desc">&ndash;&gt;&ndash;&gt;-->
                            <!--&lt;!&ndash;&lt;!&ndash;<span th:text="${topic.questionCount}">0</span> 个问题&ndash;&gt;&ndash;&gt;-->
                                <!--&lt;!&ndash;&lt;!&ndash;• <span th:text="${topic.likeCount}">0</span> 人关注&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;</span>&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;<br/>&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;<span class="text-desc">&ndash;&gt;&ndash;&gt;-->
                            <!--&lt;!&ndash;&lt;!&ndash;7 天新增 <span th:text="${topic.weekCount}">0</span> 个问题&ndash;&gt;&ndash;&gt;-->
                            <!--&lt;!&ndash;&lt;!&ndash;• 30 天新增 <span th:text="${topic.monthCount}">0</span>个问题&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;</span>&ndash;&gt;&ndash;&gt;-->
                    <!--&lt;!&ndash;&lt;!&ndash;</div>&ndash;&gt;&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--</div>-->
            <nav aria-label="Page navigation" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 tag-sp">
                <ul class="pagination">
                    <li th:if="${paginationDTO.getShowFirstPage()}">
                        <a th:href="@{/users/(page=${1},search=${search})}" >
                            <span aria-hidden="true">&lt;&lt;</span>
                        </a>
                    </li >
                    <li th:if="${paginationDTO.getShowPrevious()}">
                        <a th:href="@{/users/(page=${paginationDTO.getPage()-1},search=${search})}" >
                            &lt;
                        </a>
                    </li >

                    <li th:each="page:${paginationDTO.getPages()}" th:class="${paginationDTO.page==page}?'active':''">
                        <a th:href="@{/users/(page=${page},search=${search})}" >
                            <span th:text="${page}"></span>
                        </a>
                    </li>
                    <li th:if="${paginationDTO.getShowNextPage()}">
                        <a th:href="@{/users/(page=${paginationDTO.page+1},search=${search})}">
                            &gt;
                        </a>
                    </li>
                    <li th:if="${paginationDTO.getShowEndPage()}">
                        <a th:href="@{/users/(page=${paginationDTO.getTotalPage()},search=${search})}" >
                            <span aria-hidden="true">&gt;&gt;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12" >
            <h3>活动推荐</h3>
            <a  href="https://developer.aliyun.com/topic/elasticsearch?ref=escn" target="_blank">
                <img class="col-lg-12 col-md-12 col-sm-12 col-xs-12 related" src="/images/Elas.jpg" alt="..." >
            </a>
            <hr class="col-lg-10 col-md-12 col-sm-12 col-xs-12 ">
            <h3>热门话题</h3>

            <hr class="col-lg-10 col-md-12 col-sm-12 col-xs-12 ">
            <a  href="https://www.ucloud.cn/site/global.html" target="_blank">
                <img class="col-lg-12 col-md-12 col-sm-12 col-xs-12 related" src="/images/UCloud.jpg" alt="..." >
            </a>
        </div>
    </div>
</div>
<!--<div th:insert="~{footer :: foot}"></div>-->
</body>
</html>