<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lsu.community.mapper.QuestionMapper">
<update id="addViewCount" parameterType="cn.lsu.community.entity.Question">
    update question
    set VIEW_COUNT = VIEW_COUNT + #{viewCount,jdbcType=INTEGER}
    where ID = #{id,jdbcType=INTEGER}
  </update>
<update id="addCommentCount" parameterType="cn.lsu.community.entity.Question">
    update question
    set COMMENT_COUNT = COMMENT_COUNT + #{commentCount,jdbcType=INTEGER}
    where ID = #{id,jdbcType=INTEGER}
  </update>

<select id="countBySearchAndTagExceptId" parameterType="cn.lsu.community.dto.QuestionQueryDTO" resultType="java.lang.Integer">
  select count(*) from question
  <where>
    status = 1
    <if test="id !=null and id !=0">
      and id != #{id}
    </if>
    <if test="search != null and search.length > 0">
      and title regexp #{search}
    </if>
    <if test="tag !=null and tag.length > 0">
      and tag regexp #{tag}
    </if>
  </where>
</select>

<select id="selectBySearchAndTagExceptId" parameterType="cn.lsu.community.dto.QuestionQueryDTO" resultType="cn.lsu.community.entity.Question">
  select * from question
  <where>
    status = 1
    <if test="id !=null and id !=0">
      and id != #{id}
    </if>
    <if test="search != null and search.length > 0">
      and title regexp #{search}
    </if>
    <if test="tag!=null and tag.length > 0">
      and tag regexp #{tag}
    </if>
  </where>
  order by create_date desc limit #{page},#{size}
</select>

<select id="getCommentCountByTag" parameterType="java.lang.String" resultType="java.lang.Integer">
    select count(COMMENT_COUNT) from question where tag like #{tag}
  </select>

</mapper>